.custombar2 .ui-scrollpanel-bar {
    background-color: #68C77D;
    border-radius: 0;
    opacity: 1;
    transition: background-color .3s;
}
    
.custombar2:hover .ui-scrollpanel-bar {
    background-color: #46A55A;
}