<p-toast position="right"></p-toast>
<div class="jumbotron">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3> Edit User </h3>
              <form [formGroup]="edituserr" (ngSubmit)="editUsers()">
                  
                  <div class="form-group">
                      <label>Edit User Role</label>
                      <input type="text" name="role" formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }"  />
                      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                          <div *ngIf="f.role.errors.required">Role is required</div>
                          <div *ngIf="f.role.errors.email">Role is Required</div>
                      </div>
                  </div>
                
                  <div class="form-group">
                      <button class="btn btn-primary" >Edit User</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


