<app-navbar></app-navbar>
<p-toast position="top-right"></p-toast>

  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo ></div>
  
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
  
    <button type="submit">Total Cost: {{amt | currency: 'INR':true }} </button>
  </form>