<app-navbar></app-navbar>
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <h3> Shipping Address</h3>
                  <form [formGroup]="shippingForm" (ngSubmit)="onship()">
                      <div class="form-group">
                          <label>Name</label>
                          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Address Line 1</label>
                        <input type="text" formControlName="address1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
                        <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
                          <div *ngIf="f.address1.errors.required"> Address1 is required</div>
                      </div>
                      </div>
                      <div class="form-group">
                        <label>Address Line 2</label>
                        <input type="text" formControlName="address2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }" />
                        <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
                            <div *ngIf="f.address2.errors.required">Address2 is required</div>
                        </div>
                    </div>
                      <div class="form-group">
                          <label>Contact Number</label>
                          <input type="number" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                          <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                              <div *ngIf="f.contact.errors.required">Contact No is required</div>
                              <div *ngIf="f.contact.errors.minlength">Contact must be 10 digit</div>
                          </div>
                      </div>
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                            <div *ngIf="f.city.errors.minlength">City </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label>Pincode</label>
                        <input type="number" formControlName="pincode" minlength=10 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                            <div *ngIf="f.pincode.errors.required">Pincodeis required</div>
                            <div *ngIf="f.pincode.errors.minlength">Password must be at least 4s characters</div>
                        </div>
                    </div>
                      <div class="form-group">
                          <button class="btn btn-primary"  >Shipping Address </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  