<!DOCTYPE html>
<html ng-app="store">
<p-toast position="top-right"></p-toast>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let list of listArr">
      <div class="panel panel-primary">
        <div class="panel-body">
          <tr>
            <img src={{list.file}} class="img-responsive" style="width:100%" alt="Image"> </tr>
        </div>
        <div class="panel-body" style="margin-top: -8%">
          <tr>Name:{{ list.pname }}</tr>
        </div>
        <div class="panel-body" style="margin-top: -10%">
          <tr>Cost:{{ list.pcost }}</tr>
        </div>
        <div class="panel-body" style="margin-top: -11%">
          <tr>Description:{{ list.pdescription }}</tr>
        </div>
        <!-- <button type="button" class="btn btn-outline-primary">Add to Cart</button> -->

        <form [formGroup]="addcart" (ngSubmit)="addCart(list)" *ngIf="isLoggedIn">
          <input type="submit" value="Add Cart" style="height:20px;width:100px">
        </form>
      </div>
    </div>
  </div>
</div>