<app-navbar></app-navbar>
<p-table [value]="listArr" [rows]="8" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Product Image</th>
      <th scope="col">Delete</th>
      <th scope="col">Quanity</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-list>
    <tr>
      <td>{{ list.pname }}</td>
      <td>{{ list.pcost }}</td>
      <td>{{ list.quantity }}</td>
      <td>{{ list.productid.pdescription }}</td>
      <td>
        <img src={{list.productid.file}} alt="" width="30%" style="margin-left:41px"> </td>
      <td>
        <button type="button" class="btn btn-outline-primary" label="Delete" (click)="deletecartproduct(list._id, i)">Delete</button>
      </td>
      <td>
        <div>
          <button (click)="increment(list.quantity)">+</button>
          {{list.quantity}}
          <button (click)="decrement(this.list.quantity)">-</button>
        </div>
      </td>
    </tr>

  </ng-template>

</p-table>
<h4 style="margin-left: 550px"> TOTAL PRICE :{{totalprice |currency: 'INR':true}} </h4>
<input type="submit" value="Continue to checkout" [disabled]="status" class="button" routerLink="/shipping">

