.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 550px;
    border: none;
    width: 15%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
