<!-- <body>

  <table id ="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Person Name</th>
              <th scope="col">Blog Description</th>
              <th scope="col">Blog Image</th>
              <th scope="col">Delete</th>
  
  
            </tr>
          </thead>
          <tbody>
                <tr *ngFor="let list of listArr">
                    <td>{{ list.name }}</td>
                    <td>{{ list.description }}</td>
                    <td><img src={{list.file}} alt="" width="30%"> </td>
                    <td><button (click)="deleteblog(list._id)"  class="">Delete</button></td>

          </tr>
          
          </tbody>
        </table>
   -->

   <p-table [value]="listArr" [rows]="5" [paginator]="true" >
      <ng-template pTemplate="header" >
          <tr>
              <th scope="col">Person Name</th>
              <th scope="col">Blog Description</th>
              <th scope="col">Blog Image</th>
              <th scope="col">Delete</th>
  
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
          <tr>
              <td>{{ list.name }}</td>
              <td>{{ list.description }}</td>
              <td><img src={{list.file}} alt="" width="30%"> </td>
              <!-- <td>
                  <button pButton type="button" label="DELETE" (click)="deletelist(list._id)"></button>/<button pButton type="button" label="EDIT"  [routerLink]="['/layout/listitemedit',list._id]"></button></td>      -->
                  <td><button  pButton type="button" label="DELETE" (click)="deleteblog(list._id)"  class="">
                  </button></td>
          </tr>
      </ng-template>
  </p-table>
  