<head>
  <meta charset="utf-8" />
  <title>Store Application</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap@3.3.5"
    data-semver="3.3.5" />
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" rel="stylesheet" data-require="bootstrap@3.3.5" data-semver="3.3.5" /> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js" data-require="angularjs@1.4"
    data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home" >ECOMMERCE</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="isLoggedIn && role == 'user'">
      <a class="nav-link" routerLink="/viewblog">Blogs</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn && role == 'user'">
      <a class="nav-link" routerLink="/viewproduct">Products</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn && role == 'admin'">
      <a class="nav-link" routerLink="/dashboard/dashboard">Dashboard</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn  && role == 'user'">
        <li><a routerLink="/addcart" ><span class="glyphicon glyphicon-shopping-cart" ></span> Cart</a></li>
      </ul>
      &nbsp; &nbsp; &nbsp;

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()" routerLink="/home" >Logout</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" style="margin-left:720px" >Welcome:{{username}}</a>
      </li>
      
      
  </ul>
  
</nav>
