<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand"  href="/userdashboard">ECOMMERCE</a>
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewblog">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewproduct">Products</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Signup</a>
            </li> -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
                </ul>
      </nav>
     
      <img src="assets/online.jpg"  width="100%" height="500"> 
            <div class="jumbotron">
              <h1>ECOMMERCE</h1>      
              <p>TOP TECH'S CHOICE</p>
            </div> 
          
