<p-toast position="right"></p-toast>
<div class="jumbotron">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3> Add Product</h3>
              <form [formGroup]="editproduct" (ngSubmit)="editProducts()">
                  
                  <div class="form-group">
                      <label>Product Name</label>
                      <input type="text" name="pname" formControlName="pname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pname.errors }"  />
                      <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
                          <div *ngIf="f.pname.errors.required">Product Name is required</div>
                          <div *ngIf="f.pname.errors.email">Product Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Product Description</label>
                      <input type="text" name=" pdescription" formControlName="pdescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pdescription.errors }" />
                      <div *ngIf="submitted && f.pdescription.errors" class="invalid-feedback">
                          <div *ngIf="f.pdescription.errors.required">Product Description is required</div>
                          <div *ngIf="f.pdescription.errors.minlength">Product Description is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label>Product Cost</label>
                    <input type="number" name="pcost" formControlName="pcost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pcost.errors }" />
                    <div *ngIf="submitted && f.pcost.errors" class="invalid-feedback">
                        <div *ngIf="f.pcost.errors.required">Product Cost is required</div>
                        <div *ngIf="f.pcost.errors.minlength">Product Cost is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Product Status</label>
                    <input type="text" name="status" formControlName="status" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.status.errors }"/>
                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required">Status is required</div>
                        <div *ngIf="f.status.errors.minlength">Status is required</div>
                    </div>
                </div>
                <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                  <div class="form-group">
                      <button class="btn btn-primary" [disabled]="!editproduct.valid">Edit Product</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

