<!DOCTYPE html>


  
    <button type="button" class="btn pull-right btn btn-primary" routerLink="/layout/addblog">WRITE BLOG</button>
  <br><br><br>
    <div class="container">    
  <div class="row">
    <div class="col-md-3" *ngFor="let list of listArr" >
      <div class="panel panel-primary" position="fixed">
        <div class="panel-body" ><tr><img src={{list.file}} class="img-responsive" style="width:100%" alt="Image"> </tr></div>
        <div class="panel-body" style="margin-top: 1%"><tr>Name:{{ list.name }}</tr></div>
        <span class="border border-top-0"></span>
        

        <div class="panel-body" style= "margin-top: -15%"><tr>Blog:{{ list.description }}</tr>
          <!-- <button type="button" class="btn pull-left btn btn-primary" style="margin-bottom:-4% " routerLink="">COMMENT</button></div> -->
        
      </div>
    </div>
      </div>
    </div>

    
    