<app-navbar></app-navbar>
     <img src="assets/online.jpg"  class="image" width="100%" height="500"> 
            <div class="jumbotron">
              <h1>ECOMMERCE</h1>      
              <p>TOP TECH'S CHOICE</p>
              <div class="row">
                  <div class="column">
                    <img src="assets/jbl.jpeg" alt="Snow" style="width:100%"  height="200">
                  </div>
                  <div class="column">
                    <img src="assets/laptop.jpeg" alt="Forest" style="width:100%"  height="200">
                  </div>
                  <div class="column">
                    <img src="assets/camera.jpeg" alt="Mountains" style="width:100%" height="200">
                  </div>
                </div>
  
  
            </div> 
           <app-footer></app-footer>