<!-- <body>

<table id ="table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Cost</th>
            <th scope="col">Item Image</th>
            <th scope="col">Edit/Delete</th>


          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let list of listArr">
                  <td>{{ list.pname }}</td>
                  <td>{{ list.pdescription }}</td>
                  <td>{{ list.pcost}}</td>
                  <td><img src={{list.file}} alt="" width="30%"> </td>
                  <td>{{ list.status}}</td>
                  <td><button (click)="deletelist(list._id)"  class="">Delete</button>/<button class="button"  [routerLink]="['/layout/listitemedit',list._id]">Edit</button></td>        </tr>
        
        </tbody>
      </table>
 -->

 <p-table [value]="listArr" [rows]="5" [paginator]="true" >
    <ng-template pTemplate="header" >
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Cost</th>
            <th scope="col">Item Image</th>
            <th scope="col">Status</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list>
        <tr>
            <td>{{ list.pname }}</td>
            <td>{{ list.pdescription }}</td>
            <td>{{ list.pcost}}</td>
            <td><img src={{list.file}} alt="" width="30%"> </td>
            <td>{{ list.status}}</td>
            <td>
                <button pButton type="button" label="DELETE" (click)="deletelist(list._id)"></button>/<button pButton type="button" label="EDIT"  [routerLink]="['/layout/listitemedit',list._id]"></button></td>     
        
        </tr>
    </ng-template>
</p-table>
